
body{
  color:#555;
	/*color:*/
	background : url(../img/tosa.png),url(../img/S_haikei.jpg);
	background-attachment: fixed;
  background-size: cover;
}

#site-box {
	 width : 752px;
	margin-right: auto;
	margin-left : auto;
}

#title_name {
	font-size: 150%;
	width	: 50%;
	float: left;
}

#profile_all {
	text-align: left;
	width:100%;
	position: relative;
	top:0px;
}

#profile {
	position: absolute;
	top:35px;
	left:60px;
}

#face {
	width:30%;
		position: relative;
		float: left;
}

#profile_infomation{
	font-size: 120%;
	width:100%;
	text-align: left;
	position: relative;
	left: 70px;
	top: 10px;
}

#kejiban2{
	width:100%;
	float:center;
	padding-top: 30px;
}

#favorite_all{
	width: 100%;
	position: relative;
	bottom:0px;
}

#favorite{
	width:65%;
	position:absolute;
	top:40px;
	left:100px;
}



#Review{
	position: relative;
	top:10px;
}

#R {
	position: absolute;
	bottom: 55px;
	left: 20px;
}

.review_title{
	font-size: 120%;
}



#left {
	float: left;
 	width : 49%;
	position: relative;
	bottom: 30px;
}

#right1 {
	float: right;
	width : 49%;
	position: relative;
	bottom: 30px;
}

#left2 {
	float: left;
	width: 40%;
}

#right2 {
	float: right;
	width: 100%;
	position:relative;
	left:220px;
	bottom:20px;
}

#sonota {
	text-align:center;
}

#title_name2{
	text-align: center;
	width:100%;
	font-size: 200%;
}

#left3{
	float:left;
	width:50%;
}

#right3{
	float:right;
	width:50%;
}

.complete{
	float:right;
}

ul li {
	list-style: none;
	margin-top: 20px;
}

.page-top
{
  /*display: none;*/
  margin: 0;
  padding: 0;
}

.page-top p
{
  margin: 0;
  padding: 0;

  position: fixed;
  right: 16px;
  bottom: 16px;
}

/*
.move-page-top
{
  display: block;
  background: #D36015;
  width: 50px;
  height: 50px;
  cursor: pointer;

  /*color: #fff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s
}

*/

@media screen and (min-width:1130px) {
  .move-page-top:hover{
    opacity: 0.85;
  }
}
