#site-box {
	 width : 752px;
	 height : 100%;
	margin-right: auto;
	margin-left : auto;	
}

#hajime {
	position: relative;
	bottom: 50px;
}

#profile{
	position: relative;
	bottom: 250px;
	left: 50px;
	
}

.title_name {
	float: left;
	font-size: 250%;
	width: 70%
	
}

.hensyu {
	margin-top: 50px;
	float: right;
	width: 30%;
}

.kejiban{
	float:center;
	position: relative;
	bottom: 50px;
}

.face{
	width: 35%;
	float: left; 	
		
}

.profile1{
	width: 65%;
	float:left;
	font-size: 150%;
	text-align: left;
}

.kejiban2{
	position: relative;
	bottom: 250px;
	right: 90px;
}


.kejiban3{
	
	position: relative;
	right: 30px;
	top: 40px;

	
}

#favorite{
	position: relative;
	bottom: 480px;
}

.okiniiri {
	text-align: left;	
	font-size: 150%;

}


#Review {
	position: absolute;
	top:700px;
	padding:1px;
	border:1px;
}

#R {
	position: relative;
	bottom: 280px;
}

#R-osake {
	position: relative;
	top: 10px;
}

#R-mise{
	position: relative;
	top: 10px;
}

.delete{
	width: 100%;
	text-align: left;
	position: relative;
	bottom: 230px;
}

.kotira {
	text-align: right;
	position: relative;
	bottom: 280px;
}





#hidari{
	float: left;
	position: relative;
	bottom: 5px;
}

#migi{
	float:right;
	width: 62%;
	position: relative;
	bottom: 18px;
}
	

#left {
	float: left;
 	width : 49%;
	position: relative;
	bottom: 30px;
}

#right1 {
	float: right;
	width : 49%;
	position: relative;
	bottom: 30px;
}

#right2 {
	float: right;
	width : 49%;
	position: relative;
	bottom: 195px;
}

.complete {
	position: relative;
	top: 230px;
	left:50px;
}

input[type="text1"] {
	font-size: 120%;
}

input[type="radio"] {
	margin-top: 10px;
}
	

ul li {
	list-style: none;
	margin-top: 20px;
}





